<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2GMg1SocCNQuRpi5S5FO_az9NrocrFQs</string>
	<key>GCM_SENDER_ID</key>
	<string>343035109055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.myanesthetictest</string>
	<key>PROJECT_ID</key>
	<string>anesthetic-74295</string>
	<key>STORAGE_BUCKET</key>
	<string>anesthetic-74295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343035109055:ios:9425b1dc89ed06fc33f00a</string>
</dict>
</plist>